/*

-font-sizes(px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 

Spacing System(px):
2 / 4 / 8 / 12 / 1-6 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 font-family: "Alata", sans-serif;
   font-family: "Josefin Sans", sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;

  height: 10rem;
  /* max-width: 68rem; */
  /* margin: 0 auto; */

  padding: 0 11rem;

  /* height: 5rem; */
}
.sticky #header {
  margin-top: 10rem;
}
.sticky .nav-container {
  position: fixed;
  z-index: 99999999;
  top: 0;
  bottom: 0;
  height: 5rem;
  box-shadow: 0 1rem 2.8rem rgba(0, 0, 0, 0.03);
  width: 100%;
  background-color: #000;
  padding-top: 0;
  padding-bottom: 0;
}
/* .sticky .section-about {
  margin-top: 176px;
} */
.nav-links {
  display: flex;
  text-decoration: none;
  color: #fff;
  list-style: none;
  justify-content: space-between;
  gap: 2rem;
}

.nav-link {
  font-family: "Alata", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  position: relative;
}
.nav-link:hover {
  cursor: pointer;
}
.mobile-brandLogo {
  display: none;
}
.nav-link:hover.nav-link::after {
  content: "";
  width: 40%;
  border: 1px solid #fff;
  position: absolute;
  left: 30%;
  bottom: -40%;
}
.show {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0%);
  transition: all 1.5s;
}
.hidden-transition {
  filter: blur(0.3rem);
  opacity: 0;
  transform: translateX(300%);
  transition: all 1s;
  /* position: absolute; */
}

/* .creation .hidden-transition {
  transform: translateY(100%);
  transition: transform 3s;
}
.creation .show {
  transform: translateY(0%);
  transition: transform 2s;
} */

#header {
  background: url("images/desktop/image-hero.jpg") #0006 no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  /* max-height: 90vh; */
  max-width: 100%;
}
.banner {
  padding: 3rem;
  padding-bottom: 9rem;
  margin-left: 7.75rem;
  margin-bottom: 9rem;
}
.banner-title {
  font-size: 4.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  max-width: 40.5rem;
  padding: 2.2rem;
  border: 3px solid #fff;
  text-transform: uppercase;
}
.bannerleft {
  transform: translateX(-100%);
  transition: all 2s;
}
.bannerright {
  transform: translateX(0%);
  transition: all 1s;
}
.close-menu,
.menu {
  height: 3rem;
  width: 3rem;
  color: #fff;
  display: none;
}
/*  */
.section-about {
  padding: 2.8rem 11rem;
  transition: all 1s;
  overflow: hidden;
}
.about-container {
  max-width: 90rem;
  margin: 0 auto;
  position: relative;
}
.about-content-box {
  width: 50%;
  position: absolute;
  top: 45%;
  right: 0%;
  background-color: #fff;
  padding: 4rem;
  padding-bottom: 4rem;
}

.about-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
}
.about-content {
  font-size: 0.87rem;
  line-height: 1.8;
  font-family: "Alata", sans-serif;
  color: hsl(0, 0%, 55%);
}
/*  */
.creation {
  padding: 2.8rem 11rem;
  margin-bottom: 6rem;
  margin-top: 4rem;
  overflow: hidden;
}

.creation-container {
  max-width: 90rem;
  margin: 0 auto;
}
.photo-album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  position: relative;
}
.album-img {
  filter: brightness(75%) contrast(110%);
  background-size: cover;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.album-img-mobile {
  display: none;
}
.photo-album:nth-last-child(1) {
  transition-delay: 4s;
}
.album-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: opacity(30%);
}
.album-img:hover ~ .img-title {
  color: #000;
}
.img-title {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  transform: translate(27%, -150%);
  position: absolute;
}
.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
}
.content-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2.8rem;
}
.btn {
  padding: 0.5rem 2rem;
  background-color: #fff;
  border: 1px solid #000;
  font-family: "Alata", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
footer {
  transition: all 1s;
  overflow: hidden;
  padding: 0 11rem;
  background-color: #000;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.logos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.logo-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.logo-list li {
  list-style: none;
}
/* .info-list li {
  color: #fff;
} */
.copyright {
  color: hsl(0, 0%, 41%);
  font-family: "Alata", sans-serif;
  font-size: 0.9rem;
}
.logo-list li img {
  height: 1.4rem;
  width: 1.4rem;
}
.brand-logo {
  height: 1.6rem;
  width: auto;
  align-self: flex-start;
}

.logo-list img:hover {
  cursor: pointer;
}
.logo-list li {
  position: relative;
}
.info-list.nav-links {
  width: 50%;
}

.logo-:hover.logo-list li::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: -20%;
  left: 0;
}
